*.env*
.vscode
coverage/
lerna-debug.log
node_modules/
npm-debug.log
database
storage
yarn-error.log
logs
node_modules/
npm-debug.log
_build/*
config/local*
logs/*
pubsweet.log
tmp/
uploads/*
yarn-error.log
scripts/link.sh
epubcheck_data/*
epubcheck_log/*
epubchecker_data/*
epubchecker_log/*
config/exportScripts/*
!config/exportScripts/.gitkeep