html {
    line-height: 18px;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

body {
    margin: 0;
    padding: 0
}

article,
aside,
footer,
header,
nav,
section {
    display: block
}

h1 {
    font-size: 2em;
    margin: 0.67em 0
}

figcaption,
figure,
main {
    display: block
}

figure {
    margin: 1em 40px;
    break-inside: avoid
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible
}

pre {
    font-family: monospace, monospace;
    font-size: 1em
}

a {
    background-color: transparent;
    -webkit-text-decoration-skip: objects
}

abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    text-decoration: underline dotted
}

b,
strong {
    font-weight: inherit;
    font-weight: bolder
}

code,
kbd,
samp {
    font-family: monospace, monospace;
    font-size: 1em
}

dfn {
    font-style: italic
}

mark {
    background-color: #ff0;
    color: #000
}

small {
    font-size: 80%
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sub {
    bottom: -0.25em
}

sup {
    top: -0.5em
}

audio,
video {
    display: inline-block
}

audio:not([controls]) {
    display: none;
    height: 0
}

img {
    border-style: none
}

svg:not(:root) {
    overflow: hidden
}

button,
input,
optgroup,
select,
textarea {
    font-family: sans-serif;
    font-size: 100%;
    line-height: 1.15;
    margin: 0
}

button,
input {
    overflow: visible
}

button,
select {
    text-transform: none
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: button
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText
}

fieldset {
    padding: 0.35em 0.75em 0.625em
}

legend {
    box-sizing: border-box;
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    white-space: normal
}

progress {
    display: inline-block;
    vertical-align: baseline
}

textarea {
    overflow: auto
}

[type="checkbox"],
[type="radio"] {
    box-sizing: border-box;
    padding: 0
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
    height: auto
}

[type="search"] {
    -webkit-appearance: textfield;
    outline-offset: -2px
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit
}

details,
menu {
    display: block
}

summary {
    display: list-item
}

canvas {
    display: inline-block
}

template,
[hidden] {
    display: none
}

@font-face {
    font-family: "iA Writer Quattro";
    src: url(../Fonts/iAWriterQuattroS-Regular.woff2);
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: "iA Writer Quattro";
    src: url(../Fonts/iAWriterQuattroS-Italic.woff2);
    font-weight: 400;
    font-style: italic
}

@font-face {
    font-family: "iA Writer Quattro";
    src: url(../Fonts/iAWriterQuattroS-Bold.woff2);
    font-weight: 600;
    font-style: normal
}

@font-face {
    font-family: "iA Writer Quattro";
    src: url(../Fonts/iAWriterQuattroS-BoldItalic.woff2);
    font-weight: 600;
    font-style: italic
}

@font-face {
    font-family: "iA Writer Quattro smallcaps";
    src: url(../Fonts/LinguisticsPro-SmallCaps.woff2);
    font-weight: 400;
    font-style: normal
}

:root {
    --color-background: rgba(0, 0, 0, 0.2);
    --color-pageBox: brown;
    --color-paper: white;
    --color-ruler: brown;
    --link-background: var(--color-paper);
    --color-baseline: cyan;
    --font-body: "iA Writer Quattro";
    --font-body-small-caps: "iA Writer Quattro";
    --font-sans: "iA Writer Quattro";
    --font-size: 13px;
    --font-lineHeight: 22px;
    --text-indent: 3em;
    --color-body: black;
    --color-primary: darkred;
    --accessibility: black;
    --back: var(--color-primary);
    --blue: black;
    --color-secondary: black
}

body {
    font-family: var(--font-body);
    font-size: var(--font-size);
    line-height: var(--font-lineHeight);
    color: var(--color-body);
    font-variant-ligatures: common-ligatures
}

ul+p,
ol+p,
h1+p,
h2+p,
h3+p,
h4+p,
h5+p,
h6+p {
    text-indent: 0
}

p {
    text-indent: var(--text-indent)
}

ul,
ol,
blockquote,
p {
    margin: 0;
    padding: 0;
    orphans: 2;
    widows: 2
}

.sc-continuous-paragraph {
    text-indent: 0
}

p,
li {
    font-size: var(--font-size);
    line-height: var(--font-lineHeight);
    text-align: left;
    hyphens: none
}

p+p {
    text-indent: var(--text-indent)
}

hr {
    height: var(--font-lineHeight);
    margin: 0;
    padding: 0;
    border: 0;
    margin-top: calc(var(--font-lineHeight));
    margin-bottom: calc(var(--font-lineHeight));
    position: relative;
    top: 4px
}

hr::before {
    width: 100%;
    position: absolute;
    display: block;
    content: "* * *";
    text-align: center;
    margin: 0
}

hr+p {
    text-indent: var(--text-indent)
}

blockquote {
    margin-top: calc(var(--font-lineHeight));
    line-height: var(--font-lineHeight);
    margin-bottom: calc(var(--font-lineHeight));
    padding-left: 20px;
    margin-left: var(--text-indent);
    font-style: italic;
    font-weight: 400;
    border-left: 5px solid var(--color-primary)
}

blockquote em,
blockquote cite {
    font-style: normal
}

blockquote cite {
    line-height: 0;
    margin-left: 0.5em;
    font-weight: 400
}

blockquote cite::before {
    content: "[";
    margin-right: 0.5ch
}

blockquote cite::after {
    content: "]";
    margin-left: 0.5ch
}

blockquote cite em {
    font-style: italic;
    line-height: 0
}

blockquote.sepo {
    white-space: pre-wrap
}

blockquote p:first-of-type {
    text-indent: 0
}

.front-component a,
.body-part a,
.body-chapter a,
.body-unumbered a,
.back-component a {
    text-decoration: none;
    font-style: italic;
    line-height: 0
}

.front-component a:not(.inline-note-callout),
.body-part a:not(.inline-note-callout),
.body-chapter a:not(.inline-note-callout),
.body-unumbered a:not(.inline-note-callout),
.back-component a:not(.inline-note-callout) {
    background: linear-gradient(to bottom, var(--link-background) 0, var(--link-background) 95%, var(--color-secondary) 95%, var(--color-secondary) 100%);
    color: var(--color-secondary)
}

.front-component a:not(.inline-note-callout)::after,
.body-part a:not(.inline-note-callout)::after,
.body-chapter a:not(.inline-note-callout)::after,
.body-unumbered a:not(.inline-note-callout)::after,
.back-component a:not(.inline-note-callout)::after {
    font-size: 0.9em;
    line-height: 0
}

em,
sup,
sub,
strong,
b,
i {
    line-height: 0
}

.smallcaps {
    text-transform: uppercase
}

figure figcaption p {
    text-indent: 0
}

.underline {
    text-decoration: underline
}

.notes {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0
}

.notes li {
    break-inside: avoid
}

ol.notes[data-split-from],
ul.notes[data-split-from] {
    padding-top: 0 !important
}

[id^="note-"]:nth-last-child(2) {
    break-after: avoid
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding: 0;
    color: var(--color-primary)
}

.chapter-number,
.part-number {
    font-size: 1em;
    text-transform: uppercase;
    padding-bottom: 1em;
    display: block
}

.chapter-number+h1,
.part-number+h1 {
    margin-top: 0
}

.chapter-number.chapter-number::before {
    content: "chapter "
}

.part-number.part-number::before {
    content: "part "
}

h1.ct {
    text-align: left;
    font-size: 40px;
    line-height: calc(var(--font-lineHeight) * 2);
    max-width: 20ch;
    line-height: 1.1
}

h1.ct.booktitle {
    margin-top: calc(var(--font-lineHeight) * 3);
    margin-left: 0;
    text-indent: 0;
    font-style: italic
}

header {
    min-height: calc(var(--font-lineHeight) * 14)
}

h1 {
    font-size: 30px;
    line-height: calc(var(--font-lineHeight) * 1);
    font-style: normal;
    margin-top: calc(var(--font-lineHeight) * 2);
    margin-bottom: calc(var(--font-lineHeight) * 1);
    line-height: 1.2;
    font-weight: 600;
    text-decoration: underline
}

h1+p {
    text-indent: 0
}

h2 {
    font-size: 22px;
    margin-top: calc(var(--font-lineHeight) * 2);
    margin-bottom: calc(var(--font-lineHeight) * 1);
    font-style: normal;
    font-weight: 600
}

h2+p {
    text-indent: 0
}

h3 {
    font-size: 18px;
    margin-bottom: 0;
    color: var(--color-primary);
    margin-top: calc(var(--font-lineHeight) * 1);
    color: black
}

h3+p {
    text-indent: 0
}

h4 {
    font-weight: 600;
    margin-top: var(--font-lineHeight)
}

h4,
h5 {
    font-size: var(--font-size);
    color: var(--color-body)
}

h5 {
    font-weight: 400;
    margin-top: calc(var(--font-lineHeight) / 2);
    margin-bottom: calc(var(--font-lineHeight) / 2);
    margin-left: var(--text-indent)
}

h5+p {
    text-indent: var(--text-indent)
}

.pagedjs_page_content::after {
    content: " ";
    display: block;
    position: absolute;
    width: 1px;
    top: -40000px;
    bottom: -40000px;
    left: 39px;
    z-index: 4000
}

.cst {
    margin-top: calc(var(--font-lineHeight) * 1);
    text-indent: 0;
    font-size: 15px;
    font-style: italic;
    font-weight: 600;
    max-width: 80%;
    hyphens: none;
    text-align: left;
    color: var(--color-primary);
    margin-bottom: 0
}

.cst:last-child {
    margin-bottom: calc(var(--font-lineHeight) * 6)
}

header blockquote:last-child {
    margin-bottom: 72px
}

header blockquote cite {
    margin-left: 0
}

header .sep,
header .sepo {
    background: rgba(255, 255, 255, 0.3);
    padding: var(--font-lineHeight);
    width: 55ch
}

header .sep cite,
header .sepo cite {
    display: block;
    margin-top: calc(var(--font-lineHeight) - 1px);
    line-height: 18px;
    font-weight: 400;
    text-align: left
}

header .sep cite::before,
header .sepo cite::before {
    content: "\2014";
    margin-right: 1ch;
    font-size: 0.85em
}

header .sep cite::after,
header .sepo cite::after {
    content: none
}

header .ct+blockquote {
    margin-top: 144px
}

header .author {
    text-transform: uppercase;
    margin-top: var(--font-lineHeight);
    text-indent: 0;
    hyphens: none;
    text-align: left;
    font-family: var(--font-sans)
}

p.start {}

header blockquote.sep {
    width: 100%;
    padding-left: 12em;
    margin-top: 6em
}

header blockquote.sep p {
    text-indent: 0
}

.break {
    break-after: page
}

.front-component h1::before,
.back-component h1::before {
    content: none
}

.body-chapter h1.ct::before {
    margin-left: 3px;
    content: "chapter "counter(chapter);
    position: absolute;
    font-size: 0.3em;
    margin-top: calc(var(--font-lineHeight) * 2 * -1);
    border-top: 1px solid var(--color-primary);
    height: 0.4em;
    font-style: normal;
    text-transform: uppercase;
    letter-spacing: 0.3em;
    padding-bottom: 0.1em;
    color: var(--color-body);
    font-family: var(--font-sans)
}

.body-chapter h1.ct header blockquote cite {
    display: block;
    font-weight: 400;
    margin: 0;
    padding: 0
}

.half-title h1 {
    color: white;
    margin-top: calc(var(--font-lineHeight) * 3);
    margin-left: 0;
    text-indent: 0;
    font-style: italic
}

img {
    width: 100%;
    height: calc(var(--font-lineHeight) * 10);
    object-fit: contain
}

figure {
    padding: 0;
    margin: 0;
    margin-top: var(--font-lineHeight);
    margin-bottom: var(--font-lineHeight)
}

figure+figure {
    margin-top: calc(var(--font-lineHeight) * 2)
}

figure figcaption::before {
    content: "figure caption:";
    text-transform: uppercase;
    font-size: 0.7em;
    margin-bottom: 0;
    text-align: center;
    display: block;
    color: var(--color-primary);
    line-height: 6px;
    margin-top: 5px
}

figure figcaption p {
    text-align: center;
    font-family: var(--font-sans);
    hyphens: none
}

figure figure {
    border: 2px solid var(--color-primary)
}

.screenshot img {
    width: 100%;
    height: calc(var(--font-lineHeight) * 19)
}

.full-page {
    page: fullpage
}

@page fullpage {}

.pagedjs_page figure:first-child {
    margin-top: 0
}

ol,
ul {
    margin-left: 40px;
    padding-top: 0;
    padding-bottom: 0
}

li,
li p {
    text-indent: 0
}

ol[data-split-from],
ul[data-split-from] {
    padding-top: 0;
    padding-bottom: 0
}

ul {
    list-style-type: none
}

ul li::before {
    content: "— ";
    display: block;
    position: absolute;
    margin-left: -20px
}

ul.none li::before {
    content: none
}

section:not(.toc) ol {
    list-style-type: none;
    counter-reset: ol
}

section:not(.toc) ol li {
    counter-increment: ol
}

section:not(.toc) ol li::before {
    content: counter(ol) ". ";
    width: 14px;
    display: block;
    position: absolute;
    margin-left: -25px;
    text-align: right;
    font-variant-numeric: oldstyle-nums
}

.bibliography-entry {
    text-indent: calc(var(--text-indent) * -1);
    margin-left: var(--text-indent);
    widows: 2;
    orphans: 2
}

ul ul {
    break-before: avoid
}

.table table {
    border-collapse: collapse;
    font-size: 0.9em;
    font-family: var(--font-sans);
    line-height: 1.2;
    table-layout: fixed;
    margin-bottom: var(--font-lineHeight);
    width: 100%
}

.table table td,
.table table th {
    border: 1px solid black;
    padding: 0.3em;
    vertical-align: top
}

.table table th {
    background: rgb(230, 230, 230)
}

.table table figcaption {
    margin-top: var(--font-lineHeight)
}

.table table p,
.table table li {
    font-size: 1em;
    text-align: left;
    text-indent: 0;
    line-height: 1.2
}

.table table li p {
    font-size: 1em
}

.table table ul {
    margin-left: 22px
}

.table table p+ul {
    margin-top: 0;
    padding-top: 0
}

th:empty {
    border: 0;
    background: unset
}

body {
    counter-reset: part chapter
}

.body-chapter {
    counter-increment: chapter
}

.body-part {
    counter-increment: part
}

.copyright {
    hyphens: none
}

.copyright p {
    text-indent: 0;
    text-align: left;
    font-size: unset
}

.copyright h1 {
    font-size: var(--font-size);
    margin-top: calc(var(--font-lineHeight) * 4)
}

.copyright a {
    color: var(--color-body)
}

.dedication {
    max-width: 60%
}

.dedication p {
    text-indent: 0;
    margin-top: calc(var(--font-lineHeight) * 3);
    text-align: left
}

.dedication h1 {
    font-size: var(--font-size);
    margin-top: calc(var(--font-lineHeight) * 4)
}

#comp-notes-0 h1.ct::before {
    content: none
}

#comp-notes-0 li {
    text-align: left
}

#comp-notes-0 ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0
}

.note-callout {
    text-decoration: none;
    color: inherit;
    font-family: var(--font-sans);
    color: var(--color-primary)
}

.note-callout sup {
    font-style: normal;
    font-size: 0.75em;
    margin-left: 0.2ch;
    margin-right: 0.3ch;
    position: relative;
    vertical-align: baseline;
    color: inherit;
    font-weight: 400;
    line-height: 0
}

.title * {
    hyphens: none
}

.title {
    page: title
}

.title h2 {
    margin-top: calc(var(--font-lineHeight) * 3);
    margin-left: 0;
    text-indent: 0;
    font-style: italic;
    font-size: 40px;
    line-height: calc(var(--font-lineHeight) * 2.3)
}

.title p {
    text-indent: 0;
    line-height: var(--font-lineHeight)
}

.title .author {
    font-size: 1em;
    text-indent: 0;
    text-transform: uppercase
}

.title .author+p {
    margin-top: calc(var(--font-lineHeight) * 2);
    text-transform: uppercase
}

.title img {}

@media screen {
    body {
        background-color: var(--color-background)
    }

    .pagedjs_pages {
        display: flex;
        width: calc(var(--pagedjs-pagebox-width) * 2);
        flex: 0;
        flex-wrap: wrap;
        margin: 0 auto;
        margin-bottom: 3em
    }

    .pagedjs_page {
        background-color: var(--color-paper);
        box-shadow: 0 0 0 2px var(--color-pageBox);
        margin: 0;
        flex-shrink: 0;
        flex-grow: 0;
        margin-top: 10mm
    }

    .pagedjs_first_page {
        margin-left: var(--pagedjs-pagebox-width)
    }

    .pagedjs_page>[class*="pagedjs_margin"] {
        box-shadow: 0 0 0 1px var(--color-marginBox)
    }

    .pagedjs_pages {
        flex-direction: column;
        width: 100%
    }

    .pagedjs_first_page {
        margin-left: 0
    }

    .pagedjs_page {
        margin: 0 auto;
        margin-top: 20mm
    }
}

:root {
    --baseline: var(--font-lineHeight);
    --baseline-color: white
}

@media screen {
    .pagedjs_page {
        background: repeating-linear-gradient(white 0, white calc(var(--baseline) - 1px), var(--baseline-color) calc(var(--baseline)));
        background-size: cover;
        background-repeat: repeat-y;
        background-position-y: -12px
    }

    .pagedjs_page_content::after {
        line-height: var(--font-lineHeight);
        position: absolute;
        top: 0;
        left: 570px;
        color: var(--baseline-color);
        display: block;
        text-align: right;
        width: 2ch
    }

    h2::before {}

    h2::before,
    h3::before {
        color: red;
        position: absolute;
        left: -2px
    }

    h3::before {}

    .pagedjs_area::after {
        display: block;
        border-right: 1px solid red;
        width: calc(var(--margin-left) + 40px);
        top: 0;
        position: absolute;
        height: 100%
    }
}

.pagedjs_page {
    overflow: hidden
}

blockquote[data-split-from] {
    padding-top: calc(var(--font-lineHeight) / 2) !important
}

.notes[data-split-from] {
    padding-top: unset !important
}

.pagedjs_right_page.pagedjs_chapter_first_page .pagedjs_margin-bottom-left,
.pagedjs_left_page.pagedjs_chapter_first_page .pagedjs_margin-bottom-right,
.pagedjs_right_page.pagedjs_part_first_page .pagedjs_margin-bottom-left,
.pagedjs_left_page.pagedjs_part_first_page .pagedjs_margin-bottom-right,
.pagedjs_right_page.pagedjs_front_first_page .pagedjs_margin-bottom-left,
.pagedjs_left_page.pagedjs_front_first_page .pagedjs_margin-bottom-right {
    display: none
}

.pagedjs_page_content div section h2:first-child,
.pagedjs_page_content div section h3:first-child,
.pagedjs_page_content div section h4:first-child {
    margin-top: 0
}

.pagedjs_pages>.pagedjs_page>.pagedjs_area>div blockquote[data-split-from] {
    margin-top: calc(var(--font-lineHeight) / 2)
}

[data-num]::before {
    text-indent: 0;
    content: attr(data-num);
    color: var(--color-primary);
    position: absolute;
    left: -5.5ch;
    color: purple;
    font-size: 0.7em
}

p[data-num]+p[data-num]::before {}

h1.ct::before {
    content: "CT"
}

h1.ct::before,
h1::before {
    color: purple;
    position: absolute;
    left: -35px;
    font-style: italic;
    text-transform: lowercase;
    font-weight: normal;
    font-size: 14px
}

h1::before {
    content: "H1"
}

h2::before {
    content: "H2"
}

h2::before,
h3::before {
    color: purple;
    position: absolute;
    left: -35px;
    font-style: italic;
    text-transform: lowercase;
    font-weight: normal;
    font-size: 14px
}

h3::before {
    content: "H3"
}

.start-right {
    break-before: right
}

.start-left {
    break-before: left
}

.body-chapter,
.body-unnumbered,
.front-component,
.back-component {
    break-before: page
}

.body-part {
    break-before: right
}

.running-left {
    position: running(left);
    color: purple
}

.running-right {
    position: running(right);
    color: orange
}

@page {
    size: A4;
    margin-top: 61px;
    margin-bottom: 78px;
    margin-right: 0.75in;
    margin-left: 2in;

    @bottom-right {
        text-align: right;
        content: counter(page);
        text-indent: 0;
        width: 50px;
        letter-spacing: 0.2px;
        word-spacing: 0;
        font-size: 10px;
        font-family: var(--font-sans)
    }

    @bottom-left {
        content: element(right) " - "element(left);
        text-indent: 0;
        font-size: 1em;
        font-style: normal;
        text-transform: uppercase;
        font-size: 0.85em;
        letter-spacing: 0.2px;
        word-spacing: 0
    }
}

@page :blank {
    @bottom-left {
        content: none
    }

    @bottom-right {
        content: none
    }
}

section {
    break-before: page
}

.toc header {
    min-height: unset;
    margin-bottom: 4em
}

nav ol {
    list-style-type: none;
    padding: 0;
    margin: 0
}

nav li {}

.toc li {
    position: relative
}

.toc li::before {
    content: ". . . . . . . . . . . . "". . . . . . . . . . . . "". . . . . . . . . . . . "". . . . . . . . . . . . "". . . . . . . . . . . . ";
    position: absolute;
    bottom: 7px;
    overflow: hidden;
    height: 15px;
    color: lightgrey
}

.toc li a {
    width: 100%;
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    color: inherit
}

.toc li .name {
    position: relative;
    z-index: 5;
    background: white;
    padding-right: 1ch
}

.toc li a::after {
    content: target-counter(attr(href), page)
}

.toc-part {
    font-weight: 600;
    margin-top: 2em
}

.front-component,
.back-component {
    page: front
}

@page front :right {
    @bottom-left {
        content: string(chaptertitle)
    }
}

@page front :left {
    @bottom-right {
        content: string(chaptertitle)
    }
}

.body-chapter {
    page: chapter
}

.body-part {
    --back: var(--color-primary);
    page: part;
    break-after: right
}

@page part:first {}

.body-unnumbered {
    page: unnumbered
}

@page unnumbered {}

.body-unnumbered h1::before {
    margin-left: 3px;
    content: none;
    position: absolute;
    font-size: 0.3em;
    margin-top: calc(var(--font-lineHeight) * 2 * -1);
    height: 0.4em;
    font-style: normal;
    text-transform: uppercase;
    letter-spacing: 0.3em;
    box-shadow: 0 1px 0 black, -2px 0 0 inset white, 2px 0 0 inset white, -2px 0 0 white, 2px 0 0 white;
    padding-bottom: 0.1em
}

.body-unnumbered h1 header blockquote cite {
    display: block;
    font-weight: 400;
    margin: 0;
    padding: 0
}

#comp-notes-0 {
    page: note
}

#comp-notes-0 h1.ct::before {
    content: none
}

#comp-notes-0 li {
    text-align: left
}

#comp-notes-0 ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0
}

@page note:right {
    background: linear-gradient(to right, white 0, white 97%, transparent 97%, transparent 110%), var(--back);
    ;
}

@page note:left {
    background: linear-gradient(to left, white 0, white 97%, transparent 97%, transparent 110%), var(--back)
}

.half-title {
    page: halftitle;
    break-before: right
}

@page halftitle {
    margin-top: 61px;
    background-position: 50% 80%;
    background: var(--back);

    @bottom-left {
        content: none
    }

    @bottom-right {
        content: none
    }
}

.pub {
    position: absolute;
    bottom: -120px;
    right: -60px;
    width: 80%
}

.pub img {}

.title {
    page: title
}

.title .pub {
    position: absolute;
    bottom: -120px;
    right: -80px;
    width: 80%
}

@page title {
    @bottom-center {
        content: none
    }

    @bottom-right {
        content: none
    }

    @bottom-left {
        content: none
    }
}

.copyright {
    page: copyright;
    position: absolute;
    bottom: 4px;
    max-width: 70%;
    font-size: 0.8em
}

@page copyright {
    @bottom-center {
        content: none
    }

    @bottom-right {
        content: none
    }

    @bottom-left {
        content: none
    }
}

.dedication {
    page: dedication;
    break-before: right
}

@page dedication {
    @bottom-center {
        content: none
    }

    @bottom-right {
        content: none
    }

    @bottom-left {
        content: none
    }
}