$light-grey: #b3b3b3;
$line-grey: #969696;
$upload-multiple: #b1b1b1;
$black: #000;

.exportBookContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-grow: 0.2;
  // left: -50px;
  // display: inline-block;
  // position: relative;
  .exportLabel {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 0;

    .vivliostyleExportText {
      color: $upload-multiple;
      font-family: 'Fira Sans Condensed';
      font-size: 16px;
      font-style: normal;
      text-transform: uppercase;
    }

    .exportToBookIcon {
      background-color: $light-grey;
      color: $black;
      margin-right: 10px;
      font-weight: 500;
      height: 24px;
      -webkit-mask: url('../styles/images/book.svg') no-repeat 100% 100%;
      mask: url('../styles/images/book.svg') no-repeat 100% 100%;
      -webkit-mask-size: cover;
      mask-size: cover;
      text-align: center;
      width: 24px;
    }
  }
  button.submitBtn {
    color: $upload-multiple;
    font-family: 'Fira Sans Condensed';
    font-size: 16px;
    font-style: normal;
    text-transform: uppercase;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    outline: inherit;
  }
}
