$main-grey: #666;

.root {
  display: flex;
  margin-left: 5.8%;
  flex: 0 1 15%;
  justify-content: center;

  .middleLine {
    background-color: $main-grey;
    height: 40px;
    width: 1px;
  }
}
