$dark-grey: #404040;
$light-grey: #b3b3b3;

.root {
  cursor: pointer;
  font-family: 'Fira Sans Condensed';
  font-size: 16px;
  font-style: italic;
  align-self: flex-start;
  // padding-bottom: 2px;
  // margin-right: 5px;
  // text-align: center;
  // width: 75px;
  // border-bottom: solid 1px blue;
  width: 13%;
  svg {
    width: 100%;
  }
  &:focus {
    outline: none;
  }

  &:hover {
    color: $dark-grey;
    transition: 0.25s ease-in-out 0s;
  }
}

.disabled {
  color: $light-grey;
  cursor: default;

  &:hover {
    color: $light-grey;
  }
}
