$light-grey: #b3b3b3;
$main-grey: #666;
$active: #4A90E2;
.root {
  font-family: 'Fira Sans Condensed';
  display: flex;
  visibility: hidden;
  font-size: 12px;
  font-style: italic;
  position: absolute;
  bottom: 15px;
  left: 2px;
  justify-content: center;
  align-items: center;
  color: $main-grey;
  width: 100%;
}
.active {
  color: $active;
  visibility: visible;
}
.completed {
  color: $light-grey;
}

.left {
  -webkit-mask: url('../styles/images/arrow_left2.svg') no-repeat 100% 100%;
  mask: url('../styles/images/arrow_left2.svg') no-repeat 100% 100%;
  -webkit-mask-size: cover;
  mask-size: cover;
  background-color: $main-grey;
  cursor: inherit;
  width: 18px;
  height: 18px;
  margin: 0px;
  padding: 0px;
}

.right {
  -webkit-mask: url('../styles/images/arrow_right2.svg') no-repeat 100% 100%;
  mask: url('../styles/images/arrow_right2.svg') no-repeat 100% 100%;
  -webkit-mask-size: cover;
  mask-size: cover;
  background-color: $main-grey;
  cursor: inherit;
  width: 18px;
  height: 18px;
  margin: 0px;
  padding: 0px;
}
