$dark-grey: #404040;
$light-grey: #b3b3b3;
$main-grey: #666;
$active: #4A90E2;

.root {
  // cursor: pointer;
  flex: 0 1 100%;
  display: flex;
  flex-direction: column;
  &:hover {
    .left:not([disabled]), .right:not([disabled]) {
      visibility: visible;
    } 
  }
}

.active {
  .content {
    color: $active;
    visibility: visible;
  }
}
.completed {
  .content {
    color: $light-grey;
  }
}

.disabled {
  color: $light-grey;
  cursor:not-allowed !important;
}

.left {
  -webkit-mask: url('../styles/images/arrow_left2.svg') no-repeat 100% 100%;
  mask: url('../styles/images/arrow_left2.svg') no-repeat 100% 100%;
  -webkit-mask-size: cover;
  mask-size: cover;
  background-color: $main-grey;
  cursor: inherit;
  width: 18px;
  height: 18px;
  margin: 0px;
  padding: 0px;
  visibility: hidden;
  transition: visibility 0.1s ease-in-out 0.1s;
  &:disabled {
    visibility: hidden;
    background-color: $light-grey;
    cursor:not-allowed !important;
  }
}

.right {
  -webkit-mask: url('../styles/images/arrow_right2.svg') no-repeat 100% 100%;
  mask: url('../styles/images/arrow_right2.svg') no-repeat 100% 100%;
  -webkit-mask-size: cover;
  mask-size: cover;
  background-color: $main-grey;
  cursor: inherit;
  width: 18px;
  height: 18px;
  margin: 0px;
  padding: 0px;
  visibility: hidden;
  transition: visibility 0.1s ease-in-out 0.1s;
  &:disabled {
    visibility: hidden;
    background-color: $light-grey;
    cursor:not-allowed !important;
  }
}

.content {
  font-family: 'Fira Sans Condensed';
  visibility: hidden;
  font-size: 13px;
  font-style: italic;
  color: $main-grey;
  display: flex;
  width: 100%;
  padding-left: 2%;
  line-height: 1em;
  align-self: flex-end;
  align-items: center;
  justify-content: center;
  transition: visibility 0.1s ease-in-out 0.1s;
  .disabled {
    background-color: $light-grey;
    cursor:not-allowed !important;
  }
}

