$light-grey: #b3b3b3;
$line-grey: #969696;
$upload-multiple: #b1b1b1;
$black: #000;

.exportBookContainer {
  display: flex;
  align-items: center;
  justify-content: flex-start;


.exportToBookIcon {
  background-color: $light-grey;
  margin-right: 10px;
  color: $black;
  cursor: pointer;
  font-weight: 500;
  height: 24px;
  -webkit-mask: url('../styles/images/download.svg') no-repeat 100% 100%;
  mask: url('../styles/images/download.svg') no-repeat 100% 100%;
  -webkit-mask-size: cover;
  mask-size: cover;
  text-align: center;
  width: 24px;
}

label.downloadEpubText {
  color: $upload-multiple;
  margin-bottom: 0;
  cursor: pointer;
  font-family: 'Fira Sans Condensed';
  font-size: 16px;
  font-style: normal;
  text-transform: uppercase;
}
}